html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
  /** Hide the text input box */
 textarea {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }

  @font-face {
    font-family: 'KH Teka TRIAL';
    src: url('KHTekaTRIAL-Regular.woff2') format('woff2'),
        url('KHTekaTRIAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}